/* ===== AVISOS ===== */

.avisos{
  background:#181818;
  padding:25px 20px;
}

.avisos-lista{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:15px;
}

.aviso-card{
  background:#222;
  border-left:4px solid #2ecc71;
  border-radius:10px;
  padding:15px;
  color:#fff;
}

/* ===== RODAPÉ ===== */

.rodape{
  background:#0b0b0b;
  border-top:2px solid #2ecc71;
  padding:35px 20px;
  text-align:center;
}

.rodape h3{
  color:#2ecc71;
  margin-bottom:10px;
}

.rodape p,
.rodape small{
  color:#bdbdbd;
  margin:6px 0;
}
