*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#101010;
  color:#fff;
  font-family:Arial, Helvetica, sans-serif;
}

header{
  background:#1b1b1b;
  border-bottom:3px solid #2ecc71;
  padding:30px;
  text-align:center;
}

header h1{
  color:#2ecc71;
  font-size:48px;
  margin-bottom:10px;
}

header p{
  color:#ccc;
  margin-bottom:25px;
}

nav{
  display:flex;
  justify-content:center;
  gap:12px;
  flex-wrap:wrap;
}

nav button{
  background:#2ecc71;
  color:#111;
  border:none;
  padding:12px 20px;
  border-radius:8px;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;
  transition:.3s;
}

nav button:hover{
  background:#f1c40f;
  transform:scale(1.05);
}

section{
  max-width:1200px;
  margin:auto;
  padding:30px 20px;
}

section h2{
  color:#f1c40f;
  margin-bottom:20px;
  font-size:40px;
}

section>div{
  background:#222;
  border:1px solid #333;
  border-radius:12px;
  padding:20px;
  margin-bottom:20px;
  transition:.3s;
}

section>div:hover{
  border-color:#2ecc71;
  transform:translateY(-4px);
}

h3{
  color:#2ecc71;
  margin-bottom:10px;
  font-size:30px;
}

p{
  font-size:20px;
  margin:6px 0;
}

@media(max-width:768px){

header h1{
  font-size:34px;
}

section h2{
  font-size:30px;
}

nav{
  flex-direction:column;
}

nav button{
  width:100%;
}

}
