body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #080808;
  color: white;
}

header {
  background: #111;
  border-bottom: 3px solid #d4af37;
  padding: 20px;
  text-align: center;
}

header h1 {
  color: #d4af37;
  font-size: 38px;
  margin: 0;
}

header p {
  color: #ccc;
}

button {
  background: #d4af37;
  color: #000;
  border: none;
  padding: 10px 18px;
  margin: 8px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #f5d76e;
}

h2 {
  color: #d4af37;
  margin-left: 20px;
}

div {
  box-sizing: border-box;
}

div > div {
  background: #151515;
  border: 1px solid #333;
  border-left: 4px solid #d4af37;
  border-radius: 8px;
  padding: 15px;
  margin: 15px;
}

h3 {
  color: #d4af37;
}

strong {
  color: #fff;
  font-size: 18px;
}

input,
textarea {
  background: #111;
  color: white;
  border: 1px solid #d4af37;
  padding: 12px;
  margin: 10px;
  width: 80%;
  border-radius: 5px;
}

textarea {
  height: 80px;
}
